doctype html
html
  head
    block head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    // link(rel='stylesheet', href='/prefix/base.css')
    // link(rel='stylesheet', href='/stylesheets/base/base.css')
  body
    block content
       .site-name 搬砖站
